<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar" th:fragment="navbar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="align-text-bottom"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastrarFilme">
                    <span class="align-text-bottom"></span>
                    Cadastrar Filme
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="align-text-bottom"></span>
                    Usuários
                </a>
            </li>
        </ul>
    </div>
</nav>