<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" th:fragment="form(filme, titulo)">

    <h2 th:text="${titulo}"></h2>
    <div class="table-responsive">
        <form th:object="${filme}" method="post" th:action="@{/salvar}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
        <table class="table table-sm">
            <tbody>
            <tr>
                <td style="text-align: end;">Título:</td>
                <td><input type="text" class="form-control" th:field="*{titulo}"/></td>
            </tr>
            <tr>
                <td style="text-align: end;">Diretor:</td>
                <td><input type="text" class="form-control" th:field="*{diretor}"/></td>
            </tr>
            <tr>
                <td style="text-align: end;">Lançamento:</td>
                <td><input type="text" class="form-control" th:field="*{lancamento}"/></td>
            </tr>
            <tr>
                <td style="text-align: end;">Imagem:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td style="text-align: end;">Sinopse:</td>
                <td><input type="text" class="form-control" th:field="*{sinopse}"/></td>
            </tr>
            <tr>
                <td style="text-align: end;">Avaliação:</td>
                <td><input type="number" max="5" min="0" class="form-control" th:field="*{avaliacao}"/></td>
            </tr>
            <tr>
                <td style="text-align: end;"><button type="submit" class="btn btn-primary">Enviar</button></td>
                <td><button type="submit" class="btn btn-danger">Limpar</button></td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</main>